@namespace BlazorFlowly.Components

@using  System.Globalization
@inject IJSRuntime jSRuntime
@inject NavigationManager Nav
<div class="col-md-3">
    <select class="form-control" style="width:fit-content; margin-right: 5vw;" @bind="Culture">
        @foreach (var language in supportedLanguages)
        {
            <option value="@language">@language.DisplayName</option>
        }
    </select>
</div>
@code
{
    CultureInfo[] supportedLanguages = new[]
    {
        new CultureInfo("fr-FR"),
        new CultureInfo("en-US"),
    };
    CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                var js = (IJSInProcessRuntime)jSRuntime;
                js.InvokeVoid("appCulture.set", value.Name);
                Nav.NavigateTo(Nav.Uri, forceLoad: true);
            }
        }
    }

    protected override void OnInitialized() {
        var js = (IJSInProcessRuntime)jSRuntime;
        string culture = js.Invoke<string>("appCulture.get");
        CultureInfo.CurrentCulture = CultureInfo.CreateSpecificCulture(culture);
    }
}