@namespace BlazorFlowly.Pages.Cartographie
@page "/"

<div style="height: 90vh; width: 100%">
    <CartographieComponent DisplayMenu=true DisplayVehicles=true DisplayOneLine=false LineToDisplay='Ligne Métro' DirectionToDisplay=0 VariantToDisplay=5></CartographieComponent>
</div>

@code {

}
