@namespace BlazorFlowly.Components

<div style="width:fit-content; height: fit-content; display: inline-block; vertical-align: middle;" data-toggle="tooltip" 
     data-html="true" data-placement=@Placement data-boundary="window" title=@Title>
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Placement { get; set; } = "bottom";
}
